@page
@model ScoreScorer.Pages.SoundTracks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>SoundTrack</h1>
<h4>List of Soundtracks that have been scored.</h4>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoundTrack[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoundTrack[0].RankAvg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SoundTrack) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RankAvg)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
